<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\AppLog\Contact\internal.txt">


	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory"  value="c:\AppLog\Contact" />

	<targets>
		<target xsi:type="File" name="errorfile" fileName="${logDirectory}\nlog-error-${shortdate}.log"
					  layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${newline}Message : ${message} ${newline}${exception:format=tostring}${newline}" />

		<target xsi:type="File" name="infoFile" fileName="${logDirectory}\nlog-info-${shortdate}.log"
				 layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${newline}${message} ${newline}${exception:format=tostring}" />

	</targets>

	<rules>
		<logger name="*"   maxlevel="Info" writeTo="infoFile"/>
		<logger name="*" minlevel="Error" writeTo="errorfile" />
	</rules>
</nlog>